
.checkbox-container {
  display: flex;
  flex-wrap: wrap;

}

.checkbox-space {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;

}

input[type="checkbox"] {
  opacity: 0;
  width: 30px;
  height: 30px;
}

input[type="label"] {

  text-align: center;
}

input[type="checkbox"] + label {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-bottom: 0;
  background-color: #033c5a;
  color: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.6s;
  cursor: pointer;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #fff;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"] + label:hover:before {
  transform: scale(1.05);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="checkbox"]:checked + label:before {
  background-color: #d1f748;
  content: "\02713";
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}