
.checkbox-container {
  display: flex;
  flex-wrap: wrap;

}
.checkbox-space {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
}

.desc {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-left: 5px;
  background-color: #3896c9;
  color: white;
  width: 400px;
  border-radius: 10px;
  transition: 0.6s;
  box-shadow: 5px 5px 5px black;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

input[type="checkbox"] {
  opacity: 0;
  width: 30px;
  height: 30px;
}

input[type="label"] {
  text-align: center;
}

input[type="checkbox"] + label {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-bottom: 0;
  background-color: #033c5a;
  color: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  transition: 0.6s;
  box-shadow: 5px 5px 5px black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
input[type="checkbox"] + label:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  background-color: #ffffff;
  color: #fff;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}
input[type="checkbox"]:checked + label:before {
  background-color: #d1f748;
  content: "\02713";
  font-size: 12px;
  text-align: center;
  line-height: 18px;
}

.info-popup {
  padding:2px 5px;
  margin-right:10px;
  align-self: center;
  user-select:none;
  background-color: black;
  color:white;
  border-radius: 3px;
  position:absolute;
  display: none;
  z-index: 1;
  -webkit-user-select: none;
}
.info-popup.show {
  opacity: 1;
  display: block;
}

#issues_textarea {
  margin-left: 2%;
}

#csvbutton {
  background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 2%;
  margin-bottom: 2%;
}

a {
  color: rgb(255, 255, 255); }